$font-stack: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$primary-color: #D6D5DA;

body {
  font: 100% $font-stack;
  background-color:$primary-color; 
}